.profile {
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    justify-content: start;
}

@media screen and (max-width: 800px) {
    .profile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}