.header {
    padding-left: 19px;
    padding-right: 19px;
    box-sizing: border-box;
    background-color: #000;
    position: relative;
    max-width: 918px;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .header {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}