.card__trash {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/trash.svg);
    background-size: 18px 19px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}