.profile__info-titles {
    margin: 0;
    padding: 0;
    margin-top: 7px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .profile__info-titles {
        width: 100%;
        font-size: 14px;
        margin-top: 13px;
        margin-bottom: 34px;
    }
}