.header__container {
    width: 100%;
    margin: auto;
    padding: 0;
    padding-top: 45px;
    padding-bottom: 41px;
    border-bottom: 1px solid #545454;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    .header__container {
        padding-left: 19px;
        padding-right: 19px;
        padding-bottom: 27px;
        padding-top: 28px;
    }
}