.card__likebtn {
    width: 22px;
    height: 19px;
    margin: auto;
    margin-bottom: 0;
    background-image: url("../../../images/like.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
    border: 0;
    padding: 0;
}

.card__likebtn:hover {
    opacity: 60%;
    transition: 0.3s;
}

.card__likebtn:active {
    background-color: #fff;
}

@media screen and (max-width: 850px) {
    .card__likebtn:hover {
        opacity: 100%;
    }
}