.popup {
    z-index: 1;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex; /*flex*/
    align-items: center;
    justify-content: center;
    padding-left: 19px;
    padding-right: 19px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s, opacity 0.4s linear;
}